<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>{{blogTable.title}}<h1>
        <hr>
        {{blogTable.body}}
        <img src="{{blogTable.image.url}}" alt="">
        <hr>
        <a href="{%url 'edit' blogTable.id%}">수정하기</a>
        <a href="{%url 'delete' blogTable.id%}">삭제하기</a>
</body>
</html>